# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        # Fetch all history for all branches and tags
        fetch-depth: 0
        ref: ${{ github.head_ref }}

    - name: Git tag from version.txt
      run: |
        echo "VERSION=$(cat version.txt)"
        git tag $VERSION
        
    - name: Install uv
      uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182 #v5.4.1
      
    - name: Install dependencies
      run: |
        uv sync --extra test
        
    - name: Test with pytest
      run: |
        uv run pytest -m "not ci_exclude"
